.logo {
  background-repeat: no-repeat;
  background-position: center;
}


body{
  background-image:url(https://cdn11.bigcommerce.com/s-bv977zbkdy/images/stencil/1000x1000/products/5320/26234/3552__21168.1616075166.jpg?c=1);
}
header, .alert{
  z-index: 100;
}
.description{
  height: 25px;
  overflow: hidden;
  transition: height .3s ease-in .3s;
}
.description:hover{
  height: 80px;
}
.carrito{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}
.table__productos{
  display: flex;
}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}
.hide, .remove{
  display: none;
}

.nav-pills > li > a.active {
  background-color: #f3a954 !important;
  color: #666!important;
}

.nav-pills > li > a:hover {
  color: #666 !important;
}

.nav-link-color {
  color: rgb(0, 0, 0);
}

.contact {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
}

.contact .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact .image img {
  width: 100%;
}

.contact form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 2rem 7%;
}

.contact form .btn {
  width: 100%;
  text-align: center;
}

.contact form .btn:hover {
  background: #130f40;
}

.contact form h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #130f40;
}

.contact form .box, .contact form textarea {
  width: 100%;
  border-bottom: 0.2rem solid #130f40;
  border-width: .1rem;
  font-size: 1.6rem;
  text-transform: none;
  color: #130f40;
  padding: 1.5rem 0;
  margin: 1rem 0;
}

.contact form textarea {
  height: 15rem;
  resize: none;
}

.dog-food,
.cat-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
}

.dog-food .image,
.cat-food .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.dog-food .image img,
.cat-food .image img {
  width: 100%;
}

.dog-food .content,
.cat-food .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
  padding: 2rem;
}

.dog-food .content h3,
.cat-food .content h3 {
  font-size: 3.5rem;
  color: #130f40;
}

.dog-food .content h3 span,
.cat-food .content h3 span {
  color: #e67e22;
}

.dog-food .content p,
.cat-food .content p {
  padding: 1rem 0;
  line-height: 2;
  color: #666;
  font-size: 1.6rem;
}

.dog-food .content .amount,
.cat-food .content .amount {
  font-size: 3.5rem;
  color: #130f40;
  padding: .5rem 0;
}

.dog-food .content a img,
.cat-food .content a img {
  height: 15rem;
  margin-top: 1rem;
}

.dog-food .content a:hover img,
.cat-food .content a:hover img {
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.cat-food {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.shop .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.shop .box-container .box {
  position: relative;
  overflow: hidden;
}

.shop .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shop .box-container .box:hover .icons {
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
}

.shop .box-container .box .image {
  height: 45rem;
  width: 100%;
  overflow: hidden;
}

.shop .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop .box-container .box .icons {
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
}

.shop .box-container .box .icons a {
  display: block;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2.2rem;
  margin-top: 1rem;
  background: #fff;
  color: #130f40;
  text-align: center;
}

.shop .box-container .box .icons a:hover {
  color: #fff;
  background: #e67e22;
}

.shop .box-container .box .content {
  padding: 1rem 0;
  text-align: center;
}

.shop .box-container .box .content h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding-bottom: .5rem;
}

.shop .box-container .box .content .amount {
  font-size: 2rem;
  color: #e67e22;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .box {
  background: #eee;
  padding: 3rem;
  text-align: center;
  border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
}

.services .box-container .box:nth-child(even) {
  border-radius: 79% 21% 81% 19% / 58% 93% 7% 42%;
}

.services .box-container .box:hover {
  border-radius: .5rem;
}

.services .box-container .box i {
  height: 6.5rem;
  width: 6.5rem;
  line-height: 6.5rem;
  font-size: 3rem;
  color: #fff;
  background: #e67e22;
  border-radius: 50%;
  margin-bottom: .5rem;
}

.services .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}

.plan .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.plan .box-container .box {
  position: relative;
  padding: 2rem;
  border-radius: .5rem;
  position: relative;
  margin-bottom: 2rem;
  background: #eee;
}

.plan .box-container .box .btn {
  position: absolute;
  bottom: -2rem;
  right: 2rem;
  background: #fff;
}

.plan .box-container .box .title {
  text-align: center;
  color: #e67e22;
  font-size: 2rem;
}

.plan .box-container .box .day {
  text-align: center;
  color: #130f40;
  font-size: 3.5rem;
}

.plan .box-container .box .icon {
  color: #e67e22;
  font-size: 5rem;
  padding: 2rem 0;
}

.plan .box-container .box .list {
  margin: 1rem 0;
}

.plan .box-container .box .list p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}

.plan .box-container .box .list p span {
  color: #e67e22;
}

.plan .box-container .box .amount {
  font-size: 5rem;
  font-weight: bolder;
  color: #130f40;
}

.plan .box-container .box .amount span {
  font-size: 3rem;
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    opacity: 0;
  }
}

.header {
  background: rgb(188, 128, 128);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 9%;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
}

.header.active {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.header .logo {
  font-size: 2.5rem;
  color: #130f40;
  font-weight: bolder;
}

.header .logo i {
  color: #e67e22;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #666;
}

.header .navbar a:hover {
  color: #e67e22;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: #130f40;
  cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
  color: #e67e22;
}

.header .login-form {
  position: absolute;
  top: 120%;
  right: 2rem;
  width: 35rem;
  border-radius: 1rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: none;
}

.header .login-form.active {
  display: block;
  -webkit-animation: fadeIn .4s linear;
          animation: fadeIn .4s linear;
}

.header .login-form h3 {
  color: #130f40;
  font-size: 2.5rem;
  padding-bottom: .5rem;
}

.header .login-form .box {
  width: 100%;
  border-bottom: 0.2rem solid #130f40;
  border-width: .1rem;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  margin: 1rem 0;
}

.header .login-form .remember {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .5rem;
  padding: 1rem 0;
}

.header .login-form .remember label {
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.header .login-form .btn {
  width: 100%;
  text-align: center;
  margin: 1.5rem 0;
}

.header .login-form .btn:hover {
  background: #130f40;
}

.header .login-form .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.header .login-form .links a {
  font-size: 1.4rem;
  color: #e67e22;
}

.header .login-form .links a:hover {
  color: #130f40;
  text-decoration: underline;
}

#menu-btn {
  display: none;
}

.home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-position: center;
  background-size: cover;
  position: relative;
}

.home .content {
  width: 50rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #fff;
  padding-bottom: 1rem;
}

.home .content h3 span {
  color: #e67e22;
}

.home .content .btn {
  color: #fff;
  border-color: #fff;
}

.home .content .btn:hover {
  color: #130f40;
}

.home .content .btn::before {
  background: #fff;
}

.home .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
}

#botonComprar {
  background: #e67e22;
  color: #fff;
  border-color: #e67e22;
}

#botonCarrito {
  background: #e67e22;
  color: #fff;
  border-color: #e67e22;
}